$yellow-100: #ffe600;
$gray-100: #333333;
$gray-200: #666666;
$gray-300: #999999;
$gray-400: #eeeeee;
$blue-100: #3483fa;

:export {
  yellow-100: $yellow-100;
  gray-100: $gray-100;
  gray-200: $gray-200;
  gray-300: $gray-300;
  gray-400: $gray-400;
  blue-100: $blue-100;
}
